.SignHeading{
    font-size:72px;
    text-align: center;
    background: -webkit-linear-gradient(left, #ff7df4,#d86666, #4a5cdf, rgb(42, 32, 157)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.form-outer{
    width: min(550px, 90%);
    background-color: rgba(95, 95, 95, 0.22);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 5vh;
    border-radius: 15px;
    backdrop-filter: blur(3px);
}

.SignForm  {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
  }

  .SignInput{
    width: 100%;
    background-color: rgba(255, 255, 255, 0)
    ;
    padding: 0.8rem;
    margin: 0.5rem 0;
    border: 1px solid #dddddd97;
    border-radius: 12px;
    font-size: 1rem;
    outline: none;
    transition: border-color 0.3s ease;
    color: white;
  }
  .SignInput::placeholder{
    color: rgb(179, 179, 179);
  }

  .SignInput:focus {
    border-color: #a6c0fe;
    box-shadow: 0 0 8px rgba(166, 192, 254, 0.5);
  }

 
  .SignButton {
    background-image: linear-gradient(to right, #ff7df4,#d86666, #4a5cdf, rgb(42, 32, 157)
    );
    margin: 10px;
    margin-top: 30px;
    border-radius: 25px;
    padding: 12px 35px;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;       
    font-size: larger;
    border:none;

  }

  .SignButton:hover {
    background-position: right center; 
    color: #fff;
    text-decoration: none;
  }

  .home-link {
    display: flex;
    align-items: center;
    margin-top: 10px;
    color: white;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s ease;
  }
  
  .home-link:hover {
    color: #df5678;
  }
  
  .home-icon {
    width: 24px;
    height: 24px;
    margin-right: 8px;
  }
 